body {
    background-color: #1B1B1B;
    color: white;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 160px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

section
{
    margin-left: 180px;
    height: 100vh;
}

p{
    font-family: "Roboto";
}
